body {
    margin: 0 auto; 
    background: rgb(223, 6, 6);
    color: rgb(5, 5, 117);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#scoreboard {
    font-weight: bold;
}